<!--
  Generated template for the ViewBoardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm>
        <h2>To-Do</h2>
        <ion-card class="clickable" *ngFor="let task of todoTasks()">
          <ion-card-header>
            <ion-icon name="add-circle"></ion-icon> Add a Task
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
        <ion-card class="clickable">
          <ion-card-header>
            <ion-icon name="add-circle"></ion-icon> Add a Task
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-sm>
        <h2>In Progress</h2>
        <ion-card class="clickable" *ngFor="let task of inProgressTasks()">
          <ion-card-header>
            <ion-icon name="add-circle"></ion-icon> Add a Task
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
        <ion-card class="clickable">
          <ion-card-header>
            <ion-icon name="add-circle"></ion-icon> Add a Task
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-sm>
        <h2>Complete</h2>
        <ion-card class="clickable" *ngFor="let task of completeTasks()">
          <ion-card-header>
            <ion-icon name="add-circle"></ion-icon> Add a Task
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
        <ion-card class="clickable">
          <ion-card-header>
            <ion-icon name="add-circle"></ion-icon> Add a Task
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
