<!--
  Generated template for the ViewBoardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ board.title }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm>
        <h2>To-Do</h2>
        <ion-list [dragula]="'task-bag'" class="task-list" data-status="todo">
          <ion-card [attr.data-id]="task.id" class="clickable" *ngFor="let task of todoTasks()">
            <ion-card-header>
              {{ task.title }}
            </ion-card-header>
            <ion-card-content>
              {{ task.description }}
            </ion-card-content>
          </ion-card>
        </ion-list>
        <ion-card class="clickable" (click)="addTask('todo')">
          <ion-card-header>
            <ion-icon name="add-circle"></ion-icon> Add a Task
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-sm>
        <h2>In Progress</h2>
        <ion-list [dragula]="'task-bag'" class="task-list" data-status="inprogress">
          <ion-card [attr.data-id]="task.id" class="clickable" *ngFor="let task of inProgressTasks()">
            <ion-card-header>
              {{ task.title }}
            </ion-card-header>
            <ion-card-content>
              {{ task.description }}
            </ion-card-content>
          </ion-card>
        </ion-list>
        <ion-card class="clickable" (click)="addTask('inprogress')">
          <ion-card-header>
            <ion-icon name="add-circle"></ion-icon> Add a Task
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-sm>
        <h2>Complete</h2>
        <ion-list [dragula]="'task-bag'" class="task-list" data-status="complete">
          <ion-card [attr.data-id]="task.id" class="clickable" *ngFor="let task of completeTasks()">
            <ion-card-header>
              {{ task.title }}
            </ion-card-header>
            <ion-card-content>
              {{ task.description }}
            </ion-card-content>
          </ion-card>
        </ion-list>
        <ion-card class="clickable" (click)="addTask('complete')">
          <ion-card-header>
            <ion-icon name="add-circle"></ion-icon> Add a Task
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
